<p id="notice"><%= notice %></p>

<p>
  <strong>X:</strong>
  <%= @point.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @point.y %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
